.container{
    background-color: #f2f2f2;
    width: 420px;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding-bottom: 40px;
}
.data-comments{
display: flex;
}
.data{
color: #aaa9a9;
font-family: 'Poppins';
}
.Comments{
margin-left: 10px;
color: #aaa9a9;
font-family: 'Poppins';
}
.paragraph{
    color: #686868;
    font-family: 'Poppins';
}
h2{
    margin: 0;
    font-family: 'Poppins';
}
span{
margin-left: 4px;
font-size: 15px;
font-weight: bold;
}
.btn{
    text-decoration: none;
    font-size: 14px;
    color: #2e2c2c;
    letter-spacing: 1.5px;
}
.btn:hover{
    color: rgb(152, 195, 236);
}
.card-img{
    width: 420px;
    height: 300px;
}
.content{
    margin-left: 10px;
}